body {
    box-sizing: border-box;

}

.main-container {
    /* background-image: url("https://www.bensound.com/bensound-img/endlessmotion.jpg");
    background-size: cover; */
    background-color: #243B4A;
    font-size: 20px;
    color: #DEECF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

}

#lyric-button {
    margin-top: 50px;
}

#find-lyrics {
    margin-top: 10px;
}

.form-title {
    padding-top: 25px;
}

.lyric-container {
    width: 70%;

}
